/* color */
:root {
  --color-white: #fff;
  --color-black:#070707;
  --color-grey: #828282;
  --color-orange:#f90;
  --color-bg-grey:#f6f6f6;
}


/* all */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:hover,
:focus,
:active {
  outline: none;
}

.body {
  font-family: 'gilroy', sans-serif;
  background: var(--color-white);  
}

.container {
  margin: 0 auto;
  /* max-width: 1270px; */
  max-width: 65%;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
  font-style: bold;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

h2 {
  font-style: bold;
  font-weight: normal;
  font-size: 34px;
  line-height: 42px;
  color: var(--color-black);
}

.title {
  text-align: center;
}


/* header */
.header {
  margin-bottom: 40px;
  height: 80px;

  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey);

}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 29px;
}

.nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-grey);
}

.nav__link:hover {
  cursor: pointer;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-grey);
  transition: color .3s ease-in-out;
}

.nav__link:focus {
  outline: none;
  color: var(--color-black);
  border-bottom: 2px solid var(--color-grey);
  transition: color .3s ease-in-out;
}

.nav__link:active {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
}


/* hero */
.hero {
  margin-bottom: 214px;
  height: 540px;
  background-color: var(--color-white);
}

.hero__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  /* padding-bottom: 50px; */
  height: 189px;
}

.hero__title {
  margin-right: 10px;
  max-width: 204px;
}

.hero__me {
  margin-right: 10px;
  max-width: 219px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-black);
}

.hero__lang {
  color: var(--color-black);
  transform: rotate(-90deg);
}

.lang__link {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-grey);
}

.lang__link:hover {
  cursor: pointer;
  color: var(--color-black);
  transition: color .3s ease-in-out;
}

.lang__link:active {
  outline: none;
  color: var(--color-black);
}

.lang__link:focus {
  outline: none;
  color: var(--color-black);
}

.hero__img {
  margin: 0 auto;
  width: 100%;
  height: 21vw;
  background-size: cover;
  background-color: lightgray;
  background-image: url(../img/head-bg/coding-apps.jpg);
  background-repeat: no-repeat; 
  background-position: center center;
}

/* swiper */
.swiper-container {
  margin: 0 auto;
  max-width: 944px;
  height: 397px;
  /* overflow: hidden; */
}

.slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: lightgray;
}

.slide-1 {
  background-image: url("../img/001.jpg");
}

.slide-2 {
  background-image: url("../img/002.jpg");
}

.slide-3 {
  background-image: url("../img/003.jpg");
}
/* /swiper */


/* about-me */
.about-me {
  padding-top: 98px;
  height: 506px;

  background-color: var(--color-bg-grey);
}

.about-me__title {
  margin-bottom: 25px;
}

.about-me_flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__box {
  margin-bottom: 30px;
  max-width: 515px;

  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-black);
}


/* skills */
.skills {
  padding-top: 98px;
  /* height: 506px; */
}

.skills__title {
  margin-bottom: 68px;
}

.skills__text {
  margin-bottom: 83px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color-black);
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.scills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__icon {
  margin-bottom: 49px;
  /* width: 110px; */
  height: 110px;
  background-color: var(--color-grey)r;
  object-fit: contain;
}

.icon-size {
  height: 110%;
}

.skills__name {
  margin-bottom: 31px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--color-grey);
}

.skills-stars {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 110px;
}

/* portfolio */
.portfolio {
  padding-top: 112px;
  padding-bottom: 50px;
  height: 1086px;
  background-color: var(--color-bg-grey);
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio__site {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 99px;
}

.portfolio__link {  
  margin-left: 37%;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: var(--color-black);
}

.portfolio__link:hover {
  cursor: pointer;
  text-decoration: none; /* Убираем подчеркивание при наведении курсора мыши на ссылку */
}

.site-img {
  margin-bottom: 45px;
  width: 100%;
}

/* portfolio-swiper */
.portfolio-flex-wrapper {
  position: relative;
  display: flex;
	justify-content: center;
	width: 100%;
}

.portfolio-slider-wrapper {
	/* position: relative; */
	max-width: 1450px;
	width: 100%;
	height: 150px;
}

.portfolio-slide {
	display: none;
	width: 100%;
	height: 100%;
}

.portfolio-slide.active {
	display: block;
}

.portfolio-slide-card {
  padding: 42.5px 102px;
  width: 444px;
  height: 148px;
  border: 1px solid var(--color-grey);
  /* -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .3;
}

.portfolio-slide-link:not(:last-child) {
  margin-right: 50px;
}

.portfolio-slide-card:hover {
  cursor: pointer;
  filter: none;
  opacity: 1;
  border: 1px solid #cacaca;
  transition: filter .1s ease-in-out;
}

.portfolio-slide-card::after:focus {
  outline: 1px solid var(--color-lilac);
}

.portfolio-slide-card:active {
  border: 1px solid var(--color-lilac);
}

.portfolio-btn-prev, .portfolio-btn-next {
	position: absolute;
	top: 0;
  width: 10%;
  height: 464%;
	opacity: 0.4;
	cursor: pointer;
	transition: opacity .2s ease-in-out;
}

.portfolio-btn-prev:hover, .portfolio-btn-next:hover {
  background-color: var(--color-grey);
	opacity: 0.6;
  transition: background-color .3s ease-in-out;
}

.portfolio-btn-next {
	left: auto;
	right: 0;
}
/* /portfolio-swiper */

/* footer */
.footer {
  padding-top: 114px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 342px;
}
.footer__title {
  margin-bottom: 20px;
}

.footer__text {
  margin-bottom: 29px;
  font-weight: medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--color-black);
}

.footer__btn {
  margin-bottom: 86px;
  padding: 11px 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--color-white);
  border: none;
  border-radius: 21px;
  background-color: var(--color-black);
}

.footer__btn:hover,
.footer__btn:focus {
  cursor: pointer;
  color: var(--color-black);
  background-color: inherit;
  outline: 1px solid var(--color-black);
  transition: color .3s ease-in-out,
              background-color .3s ease-in-out,
              outline .3s ease-in-out;
}

.footer__social-link {
  display: flex;
  margin-bottom: 45px;
}

.social-link:hover {
  cursor: pointer;
}

.footer__social-icon {
  width: 40px;
  height: 40px;
}

.social-link:not(:last-child) {
  margin-right: 60px;
}

.subtext {
  font-weight: medium;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--color-grey);
}